html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.top-navigation {
    background-color: #fff;
}

.content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    margin-top: 25px;
    letter-spacing: 0.03em;
    -webkit--webkit-font-smoothing: antialiased;
    -moz--webkit-font-smoothing: antialiased;
    -ms--webkit-font-smoothing: antialiased;
    -o--webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline;
    margin-left: 30px;
    font-weight: 100;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
    font-weight: 400;
}

.top-navigation .links > .active:hover {
    cursor: pointer;
    color: black;
    font-weight: 500;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.logo {
    margin-top: 1em;
}

.bg_img {
    background-image: url('../img/bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    /*-webkit-background-size: cover;*/
    background-size: cover;
    height: 45.938em;
    margin: 0;
    overflow: auto;
}

section .content {
    color: white;
    font-weight: 300;
    text-align: center;
    margin-top: 16em;
    font-family: 'Roboto', sans-serif;
    -webkit--webkit-font-smoothing: antialiased;
    -moz--webkit-font-smoothing: antialiased;
    -ms--webkit-font-smoothing: antialiased;
    -o--webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

section .content h1 {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 0em;
}

section .content h3 {
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 0em;
}

section .button {
    text-shadow: none;
    border-style: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: red;
    width: 140px;
    height: 50px;
    margin: 2em auto;
}

section .button:hover {
    cursor: pointer;
    background-color: #ff4500;
}

section .button h3 {
    font-size: 1em;
    text-align: center;
    color: white;
    margin-top: -.2em;
    font-weight: 400;
}

